// 定义 Element Plus 的命名空间
$namespace: 'el';

// 导入 Element Plus 的变量和混合
@use 'element-plus/theme-chalk/src/common/var.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins.scss' as *;

// 如果需要自定义变量，可以在这里添加，但不要重复定义 $namespace
// 例如：
$primary-color: #f2d2d9;
$info-color: #a7d1d1;
$text-color-primary: #303133;
$text-color-regular: #606266;
$text-color-secondary: #909399;
$text-color-placeholder: #c0c4cc;
$bg-color: #f8f8f8;

// Dark mode
$--dark-primary-color: #bb86a1;
$--dark-info-color: #5c8585;
$--dark-bg-color: #1e1e1e;
